<!-- mysiteS24/myapp/templates/myapp/index.html -->
{% extends 'myapp/base.html' %}

{% block body_block %}
    <h1>Welcome to the Index Page</h1>
    <p>This is the main page of the application.</p>
    <!-- Your list of books from previous index0.html -->
    {% if booklist %}
        <h2>List of Books</h2>
        <ol>
            {% for book in booklist %}
                <li>
                    <a href="{% url 'myapp:detail' book.id %}">{{ book.title }}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available books!</strong>
    {% endif %}
    <a href="{% url 'myapp:place_order' %}">Place a New Order</a>
    <p><a href="{% url 'myapp:about' %}">About page</a></p>
{% endblock %}