{% extends 'myapp/base.html' %}

{% block body_block %}
<div class="container mt-4">
    {% if message %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if booklist %}
    <h2 class="text-center">List of Books</h2>
    <ul class="list-group">
        {% for book in booklist %}
        <li class="list-group-item">
            <a href="{% url 'myapp:detail' book.id %}">{{ book.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-warning" role="alert">
        <strong>There are no available books!</strong>
    </div>
    {% endif %}

    <div class="mt-4 text-center">
        <a href="{% url 'myapp:placeorder' %}" class="btn btn-primary">Place an order</a>
    </div>
</div>
{% endblock %}
